# Port server
PORT=3000

# Rahasia JWT Token
JWT_SECRET=ausdmusic_super_secret_jwt_key_2026

# Konfigurasi Gmail SMTP untuk kirim email OTP
# 1. Buka https://myaccount.google.com/apppasswords
# 2. Buat App Password (16 huruf)
# 3. Masukkan email & password di bawah ini:
GMAIL_USER=contoh.email@gmail.com
GMAIL_APP_PASSWORD=abcd efgh ijkl mnop

# Environment (development / production)
NODE_ENV=development
